@mixin article {
  min-height: calc(100vh - #{$lem * 2});

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    display: flex;
    align-items: center;
    min-height: 30vh;

    @include text-style(title);
  }

  &__content {
    padding: 5vh 0;
    @include text-style(body-text);
    @include text-style(article-body-text);
  }

  .card {
    @include card;
    @include card--active;
  }
}
