// Home page
//
// The homepage
// The header and footer are shared with other pages. See the default template.
//
// Styleguide home
html {
  &.gust {
    body {
      .container {
        .article__title {
          display: none;
        }

        .mst {
          @include mst;
        }

        // reorder
        > * {
          order: 6;
        }

        .article {
          order: 1;
        }

        @include mobile-and-up {
          .prevnext {
            order: 2;
          }

          .mst {
            &--active {
              top: -$lem * 3;
            }
          }
        }
      }
    }
  }
}
