@mixin mst--inactive {
  svg {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid;

    .ruler,
    .sense__circle {
      stroke: $black;
      stroke-width: 3;
    }
  }
}
