@mixin people {
  flex-basis: 100% !important;
  display: flex;
  flex-wrap: wrap;

  .ul {
    list-style: none;
    margin: 0;

    .li {
      + .li {
        margin-top: 15vh;
      }
    }
  }

  .trigger {
    @include trigger;
  }

  .person {
    @include person;
  }
}
