@mixin people {
  flex-basis: auto;
  display: flex;
  flex-wrap: wrap;

  .trigger {
    @include trigger;
  }

  .ul {
    @include ul--toc;

    .li {
      border-bottom: 1px solid;
    }
  }

  .person {
    @include person;
  }
}
