@mixin ul--toc {
  list-style: none;
  margin: 0;

  .li {
    @include grid(2, $lem, $lem, $has-title: 0);
    flex-wrap: nowrap;
    align-items: baseline;

    .link {
      @include link(black-on-white, black-on-white, gray-on-white, black-on-white);
    }

    .date {
      @include text-style(figcaption);
      text-align: right;
    }
  }
}
