@mixin person {
  display: flex;
  flex-wrap: wrap;

  &__name {
    display: flex;
    padding: $lem / 4 0;
  }

  .figure {
    @include figure;
    @include border(normal, all);

    width: 50%;
    line-height: 1;
    padding: $lem;
    box-sizing: border-box;

    .picture {
      width: 100%;
    }
  }

  .blockquote {
    @include circle($lem * 8);
    @include border(normal, all);

    text-align: center;
    align-self: center;
  }

  &__details {
    @include person__details;
  }

  @include person--portrait;
}
