@mixin person {
  display: flex;
  flex-wrap: wrap;

  &__name {
    display: flex;
    padding: $lem / 4 0;
  }

  .figure {
    @include figure;
    @include border(normal, all);
    width: 50%;
    line-height: 1;
    padding: $lem;
    box-sizing: border-box;
  }

  &__details {
    @include person__details;
    width: 50%;
  }

  @include person--portrait;
}
