@mixin person__details {
  display: flex;
  flex-wrap: wrap;

  .bio {
    margin-left: $lem * 3;
    margin-bottom: $lem;
    max-width: 15em;
    padding: $lem;

    @include border(normal, all);
    border-top: transparent;
  }

  .link {
    @include link(black-on-white, black-on-white, black-on-white, black-on-white);
    margin-left: $lem;
  }
}
