html {
  &.the-most-powerful {
    body {
      .article {
        .card__trigger {
          @include landscape {
            display: none;
          }

          @include portrait {
            margin-top: $lem * 2;
            display: flex;
          }
        }
      }
    }
  }
}
