@mixin image {
  .figure {
    @include figure($figcaption: on);
    margin: $lem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .figcaption {
      @include text-style(figcaption);
    }
  }
}
