@mixin home--landscape {
  @include landscape {
    .container {
      display: flex;
      flex-wrap: wrap;

      .article,
      .prevnext {
        flex-basis: 100%;
      }

      .prevnext {
        position: relative;
        top: -$lem * 5;
        padding: $lem;
      }

      .articles,
      .tags {
        flex-basis: calc(50% - #{$lem * 4});
      }

      .tags {
        margin-right: 0;
      }
    }
  }
}
