@mixin default--landscape {
  @include landscape {
    .container {
      @include grid(2, $lem * 2, $lem);

      .article,
      .prevnext,
      .footer {
        flex-basis: 100%;
      }

      .prevnext {
        position: relative;
        top: -$lem * 4;
        margin-right: 0;
      }

      .articles {
        margin-right: $lem * 2;
      }
    }
  }
}
